<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>User Reviews</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
	<a href="/dashboard">Home</a>
	<span>|</span>
	<a href="/add">Add Book and Review</a>
	<span>|</span>
	<a href="/logout">Logout</a>
	<hr>
		Name: {{user.first_name}}
		<br>
		Email: {{user.email}}
		<br>
		Total reviews: {{review.count}}

		<h3>Posted reviews on the following books</h3>
		{%  for review in reviews %}
			<a href="/books/{{review.book.id}}">
			{{review.book.title}}</a>
			<br>
		{%endfor%}
	</div>
	
</body>
</html>